* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    padding: 20px;
    margin: 0 auto;
}

.title {
    margin: 10px auto;
    align-items: center;
}

.registration {

    display: flex;
    flex-direction: column;
}

.input {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

.send {
    width: 100px;
    padding: 3px;
}

label {
    margin-left: 10px;
}

.errormessage {
    color: red;
}

.user-box {
    border: 1px solid rgb(87, 85, 85);
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    height: 300px;
    position: relative;
}

.user-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;

}

.gender {
    color: gray;
    font-size: 10px;
}

.delete-button {
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    align-items: center;
    font-size: 16px;
}

.delete-button:hover {
    cursor: pointer;
    background-color: rgb(85, 84, 84);
}